*{
    margin: 0;
    padding: 0;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body{
    background-color: #79313A;
  }
#navBody{
    padding-left: 5%;
    background-color: #071013;
}
.navbar-brand{
  color: #79313A;
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar navbar-expand-lg bg-light{
  background-color: #DEDEDE;
}
#logospace{
    margin-top:15%;
    background-color: #DEDEDE;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}
.form-label{
  font-family: 'Times New Roman', serif;
  color: #DEDEDE;
}
.deBut{
  background-color: #071013;
  color: #79313A;
  width: 6rem;
  height: 3.2rem;
  border-radius: 40%;
  font-weight: bold;
  font-family: 'Times New Roman', serif;

}
#active{
    background-color: #DEDEDE;
    font-weight: bold;
}
.nav-link{
  color: #DEDEDE;
}
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 867px) {
  div .carouselContent{
    position: absolute;
    bottom: 40%;
    left: 20%;
    color: #79313A;
    margin: auto;
    text-shadow: 0 10px 5px rgba(0,0,0,.6);
  
  }
  div .carouselContent p{
    margin: auto;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 575px) {
  div .carouselContent{
    position: absolute;
    bottom: 40%;
    left: 30%;
    color: #79313A;
    margin: auto;
    text-shadow: 0 10px 5px rgba(0,0,0,.6);
  
  }
    div .carouselContent p{
    margin: auto;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    opacity: 0.8;
  }
}

footer{
    background-color: #B7999C;
}
.contentSize{
  width: 80%;
  margin: auto;
}
.spaceTop{
  margin-top:5%;
}
.smallPadding{
  padding:5%;
}
.carouselContent{
  position: absolute;
  bottom: 40%;
  left: 30%;
  color: #79313A;
  margin: auto;
  text-shadow: 0 10px 5px rgba(0,0,0,.6);

}
.carouselContent p {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  opacity: 0.7;

}
.forShow {
  width: 100%;
  box-shadow: 0px 0px 9px 4px #DEDEDE;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px #DEDEDE;
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 8px 5px black;
  -moz-box-shadow: 0px 0px 8px 2px light green;
  box-shadow: 0px 0px 8px 2px light blue;
}


#changeCol{
  color: #DEDEDE;
  background-color: #DEDEDE;
  font-style: none;
  border: none;
}